@font-face {
    font-family: Vazirmatn;
    src: url(../fonts/Vazirmatn-Regular.woff2);
}

// @font-face {
//     font-family: Vazirmatn;
//     src: url(../fonts/Vazirmatn-SemiBold.woff2);
//     font-weight: bolder;
// }

*,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Vazirmatn', Arial, sans-serif;

}